@import "tailwindcss";

@theme {
  --color-background: #EAE7DC;
  /* Soft Sand */
  --color-primary: #D8C3A5;
  /* Warm Beige */
  --color-secondary: #E98074;
  /* Sunset Coral */
  --color-accent: #8E8D8A;
  /* Concrete Gray */
  --color-text: #2E2E2E;
  /* Rich Black */
  --color-muted: #C5BFB3;
  /* Clay Gray */
}







.nav-icons {
  @apply hover:text-secondary text-text transition-colors ease-linear duration-300;
}

button {
  @apply cursor-pointer transition-colors ease-in-out duration-300 shadow-lg hover:shadow-xl hover:scale-[1.03] relative;
}