@import "tailwindcss";

@theme {
  --color-primary: #7AE2CF;
  --color-secondary: #077A7D;
  --color-tertiary: #F5EEDD;
  --color-text: #06202B;

}



.nav-icons {
  @apply hover:text-secondary text-text/100 transition-colors ease-linear duration-300;
}

button {
  @apply cursor-pointer transition-colors ease-in-out duration-300 shadow-lg hover:shadow-xl hover:scale-[1.03] relative;
}